body {
    font-family: Arial, sans-serif;
    margin: 0;
}

#blur {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.7);
}

#todo-container {
    padding: 0px;
    display: flex;
    width: 100%;
    height: 99.6vh;
    justify-content: flex-start;
}

.users-connected-box {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #686868;
}

.users-connected {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.user-connected-item {
    margin-left: 10px;;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.users-connected-text {
    color: #686868;
}

.container {
    width: 100%;
    height: 100%;
    border: 1px solid #868686;
    border-right: 0px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    position: relative;
}

.boton-flecha {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#user-container {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#chat-box {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    overflow-y: auto;
}

#input-chat {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 60px;
    border-top: 1px solid #686868;
    align-items: center;
}

#username-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#user-input {
    padding: 0px 15px;
    margin: 5px 5px;
    width: 100%;
    height: 80%;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.send-button {
    all: unset;
    margin: 0 5px;
    background-image: url('../imgs/send.png');
    background-position: center;
    background-size: cover;
    background-color: #5c5c5c;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    width: 100%;
    max-width: 40px;
    max-height: 100%;
    height: 40px;
}

.img .send-button {
    position: absolute;
    top: 85%;
    left: 85%;
}

#send-image {
    all: unset;
    cursor: pointer;
    background-image: url('../imgs/picture_icon.png');
    background-position: center;
    background-size: cover;
    margin-left: 5px;
    padding: 2px;
    width: 40px;
    height: 40px;
}

.form-username-item {
    margin: 10px 0;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
}

form label {
    border: 0 !important;
    padding: 0 !important;
}

.cont-img {
    z-index: 11;
    width: 100%;
    height: 100%;
    position: absolute;
}

#img-form-cont {
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    background-color: white;
    border: 1px solid black;
    padding: 15px 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#upload-img-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

img {
    border: 2px solid black;
    max-width: 500px;
    max-height: 500px;
}

.mensaje,
.mensaje-enviado {
    align-self: flex-start;
    align-items: flex-start;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.mensaje-enviado {
    align-self: flex-end;
    align-items: flex-end;
}

.mensaje-username,
.hora {
    font-size: 13px;
}

.mensaje-text {
    max-width: 300px;
    overflow-wrap: break-word;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #dbdbdb;
}

.mensaje-enviado .mensaje-text {
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    background-color: #adadad;
}